/** @format */

#app-loading-overlay {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('/bg.jpg') 0 / cover fixed;
}
#app-loading-overlay .content {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.36);
}
#app-loading-overlay .content .slogan-box {
  font-size: 22px;
  color: #fff;
  letter-spacing: 5px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 0%);
}
#app-loading-overlay .content .spinner-box {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 0%);
  color: #fff;
  letter-spacing: 5px;
  display: flex;
  align-content: center;
}

@keyframes circle-spinner-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#app-loading-overlay .content .spinner-box .circle-spinner {
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  position: relative;
  height: 20px;
  width: 20px;
}

#app-loading-overlay .content .spinner-box .circle-spinner:after {
  content: '';
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  border: 2px solid #fff;
  border-left: 2px solid transparent;
  border-radius: 50%;
  transform: translateZ(0);
  animation: circle-spinner-rotate 0.8s linear infinite;
}
