/** @format */

* {
  padding: 0px;
  margin: 0px;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: var(--kingo-global-font-color);
  font-size: var(--kingo-global-font-size);
  font-family: var(--kingo-global-font-family) !important;
}

#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
